 :root {
    /* ---------- CORES PRINCIPAIS ---------- */
    --cor-fundo-1: #030044;
    --cor-fundo-2: #0B0E16;
    --cor-fundo-3: #04031D;

    --cor-menu: #05032A;
    --cor-elemento: #1C1A46;

    /* ---------- CORES DE TEXTO ---------- */
    --cor-texto: #fff;
    --cor-texto-secundario: #d9d9d9;
    --cor-texto-terciario: #bdbdbd;

    /* ---------- COR DE DESTAQUE ---------- */
    --cor-destaque: #49C6E5;
    --cor-destaque-hover: #61d3ef;

    /* ---------- BORDAS ---------- */
    --cor-borda: rgba(255, 255, 255, 0.6);
    --cor-borda-hover: rgba(73, 198, 229, 0.8);

    /* ---------- EFEITOS ---------- */
    --sombra-destaque: rgba(73, 198, 229, 0.5);
    --sombra-card: rgba(73, 198, 229, 0.25);
    --fundo-hover: rgba(255, 255, 255, 0.08);
}

html.tema-claro {
  :root {
    /* ---------- CORES PRINCIPAIS ---------- */
    --cor-fundo: #FFFFFF;
    --cor-fundo-azul: #BDEBFD;
    --cor-menu: #D0EEFB;

    /* ---------- AZUIS ---------- */
    --azul-claro: #BADDE3;
    --azul-pesquisa: #A1DCE6B2;
    --azul-principal: #49C6E5;
    --azul-hover: #61D3EF;

    /* ---------- CORES DE TEXTO ---------- */
    --texto-principal: #04031D;
    --texto-secundario: #05032A;
    --texto-usuario: #040140;

    /* ---------- BORDAS ---------- */
    --borda-card: #4F616C;

    /* ---------- TRANSPARÊNCIAS ---------- */
    --azul-transparente: rgba(73, 198, 229, 0.25);
    --azul-brilho: rgba(73, 198, 229, 0.5);
    --azul-sombra: rgba(73, 198, 229, 0.7);
    --branco-transparente: rgba(255, 255, 255, 0.08);
  }
}