@import "../colors.css";

/* ---------- CSS DO MENU ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, var(--cor-texto), var(--cor-15), var(--cor-texto));
  color: var(--cor-texto);
  position: relative;
  min-height: 100vh;
}

/* ---------- ANIMAÇÕES ---------- */

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(2rem); }
  to   { opacity: 1; transform: translateY(0); }
}

/* ---------- IMAGENS ---------- */

img {
  max-width: 100%;
  display: block;
}

/* ---------- MENU ---------- */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.6875rem;
  height: 100vh;
  text-decoration: none;

   background: var(--cor-13);

  display: flex;
  flex-direction: column;

  padding: 1.25rem 0.9375rem;

  overflow: hidden;
  transition: .35s ease;

  border-radius: 0 1.25rem 1.25rem 0;
  z-index: 999;
}

.menu:hover {
  width: 16.25rem;
}

/* ---------- LOGO ---------- */

.logo {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 2.5rem;
}

.logo img {
  width: 2.5rem;
}

.logo span {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  color: var(--cor-01);

  opacity: 0;
  transition: .3s;
}

.menu:hover .logo span {
  opacity: 1;
}

/* ---------- PESQUISA ---------- */

.pesquisa {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  color: var(--cor-08);

  background: #A1DCE6B2;
  border-radius: 0.625rem;

  padding: 0.75rem;
  margin-bottom: 1.5625rem;
}

.pesquisa img {
  width: 1.625rem;
}

.pesquisa span {
  white-space: nowrap;
  opacity: 0;
  transition: .3s;
}

.menu:hover .pesquisa span {
  opacity: 1;
}

/* ---------- ITENS ---------- */
/* ---------- ITENS ---------- */

.item-menu {
  display: flex;
  align-items: center;
  gap: 1.125rem;

  width: 100%;

  padding: 0.75rem;
  margin-bottom: 0.5rem;

  border-radius: 0.625rem;

  cursor: pointer;
  transition: .3s ease;

  text-decoration: none;
  color: var(--cor-08);
}

.item-menu:hover {
   background: var(--cor-06);
}

.item-menu img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  flex-shrink: 0;
}

.item-menu span {
  white-space: nowrap;
  opacity: 0;
  transition: .3s ease;
  font-size: 1rem;
  font-weight: 500;
}

.menu:hover .item-menu span {
  opacity: 1;
}

/* ---------- USUÁRIO ---------- */

.usuario {
  margin-top: auto;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 0.9375rem;

  background: var(--cor-06);
  padding: 0.75rem;
  border-radius: 0.625rem;
}

.usuario img {
  width: 2.1875rem;
}

.dados-usuario {
  opacity: 0;
  transition: .3s;
  white-space: nowrap;
}

.menu:hover .dados-usuario {
  opacity: 1;
}

.dados-usuario h4 {
  font-size: .9rem;
  margin: 0;
  color: var(--cor-01);
}

.dados-usuario p {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--cor-01);
  opacity: 0.6;
  margin: 0.25rem 0 0 0;
  width: auto;
  height: auto;
}

/* ---------- TEMA ---------- */

.menu:hover .item-menu {
  opacity: 1;
}

.item-menu{ 
  display: flex;
  align-items: center;
  gap: 1.125rem;

  width: 100%;

  padding: 0.75rem;
  margin-bottom: 0.5rem;

  border-radius: 0.625rem;

  cursor: pointer;
  transition: .3s ease;

  text-decoration: none;
  color: var(--cor-08);
}

.item-menu:hover {
  background: var(--cor-06);
}

.item-menu img {
  width: 2rem;
  height: 1.75rem;
  object-fit: contain;
  flex-shrink: 0;
}

.item-menu span {
  white-space: nowrap;
  opacity: 0;
  transition: .3s ease;
  font-size: 1rem;
  font-weight: 500;
}

/* ---------- INICIO DE REFERENCIAS ---------- */
h1{
  text-align: center;
  margin-top: 30px;
  margin-top: 114px;-
}

h1{
  color: var(--cor-01);
  font-family: Montserrat;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*--------- REFERÊNCIAS ----------*/

#img-ref {
    display: block;
    margin: 65px auto 0;
}

/*--------- BOTOES ----------*/

.referencias-img {
  position: relative;
  width: fit-content;
  margin: 65px auto 0;
}

#img-ref {
  display: block;
  margin: 0;
}

.referencias-img button {
  position: absolute;
  background: transparent;
  border: none;
  color: var(--cor-01);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#botao-1 {
  top: 174px;
  right: 145px;
}

#botao-2 {
  top: 475px;
  right: 145px;
}

#botao-3 {
  top: 776px;
  right: 145px;
}

#botao-4 {
  top: 1077px;
  right: 145px;
}

#botao-5 {
  top: 1408px;
  right: 145px;
}

#botao-6 {
  top: 1739px;
  right: 145px;
}


/* ---------- INFORMACOES  ---------- */


h3{
  color: var(--cor-14);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


h3{
  margin-left: 230px;
   padding-top: 30px;
}

.info{
  background: var(--cor-01);
  width: 100%;
  height: 200px;
  margin-top: 150px;
  margin-bottom: 300px;
}

.item-info{
  display: flex;
  align-items: center;
  gap: 15px;          
  margin-left: 350px;
  margin-top: 20px;
  color: var(--cor-texto);
  padding-top: 30px;
}

.item-info i:not(:first-child){
  margin-left: 50px; 
}

.item-info p{
  margin: 0;
  color: var(--cor-texto);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}