* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(135deg, #030044, #0B0E16, #04031D);
  color: #fff;
  position: relative;
  min-height: 100vh;
}

/* ---------- IMAGENS ---------- */

img {
  max-width: 100%;
  display: block;
}

/* ---------- MENU ---------- */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.6875rem;
  height: 100vh;
  text-decoration: none;

  background: #05032A;

  display: flex;
  flex-direction: column;

  padding: 1.25rem 0.9375rem;

  overflow: hidden;
  transition: .35s ease;

  border-radius: 0 1.25rem 1.25rem 0;
  z-index: 999;
}

.menu:hover {
  width: 16.25rem;
}

/* ---------- LOGO ---------- */

.logo {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 2.5rem;
}

.logo img {
  width: 2.5rem;
}

.logo span {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;

  opacity: 0;
  transition: .3s;
}

.menu:hover .logo span {
  opacity: 1;
}

/* ---------- PESQUISA ---------- */

.pesquisa {
  display: flex;
  align-items: center;
  gap: 0.9375rem;

  background: #1C1A46;
  border-radius: 0.625rem;

  padding: 0.75rem;
  margin-bottom: 1.5625rem;
}

.pesquisa img {
  width: 1.625rem;
}

.pesquisa span {
  white-space: nowrap;
  opacity: 0;
  transition: .3s;
}

.menu:hover .pesquisa span {
  opacity: 1;
}

/* ---------- ITENS ---------- */
/* ---------- ITENS ---------- */

.item-menu {
  display: flex;
  align-items: center;
  gap: 1.125rem;

  width: 100%;

  padding: 0.75rem;
  margin-bottom: 0.5rem;

  border-radius: 0.625rem;

  cursor: pointer;
  transition: .3s ease;

  text-decoration: none;
  color: #fff;
}

.item-menu:hover {
  background: #1C1A46;
}

.item-menu img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  flex-shrink: 0;
}

.item-menu span {
  white-space: nowrap;
  opacity: 0;
  transition: .3s ease;
  font-size: 1rem;
  font-weight: 500;
}

.menu:hover .item-menu span {
  opacity: 1;
}

/* ---------- USUÁRIO ---------- */

.usuario {
  margin-top: auto;

  display: flex;
  align-items: center;
  gap: 0.9375rem;

  background: #1C1A46;
  padding: 0.75rem;
  border-radius: 0.625rem;
}

.usuario img {
  width: 2.1875rem;
}

.dados-usuario {
  opacity: 0;
  transition: .3s;
  white-space: nowrap;
}

.menu:hover .dados-usuario {
  opacity: 1;
}

.dados-usuario h4 {
  font-size: .9rem;
}

.dados-usuario p {
  font-size: .7rem;
  color: #bdbdbd;
  margin-top: 0.25rem;
}
/*-----------CONTEUDO INICIAL-----------*/
.conteudoInicial{
  margin-left: 10rem;
  h1{
    margin-top: 15rem;
  }
  p{
    margin-top: 2rem;
  }
}
/*-----------CONTEUDO INICIAL/botoes-----------*/
.botoes {
  display: flex;
  gap: 1.875rem;
  margin-top: 2.5rem;
}

.botoes button {
  width: 13.75rem;
  height: 3.625rem;

  border-radius: 2.1875rem;

  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  transition: .3s;
}

.btn-primary {
  background: #49C6E5;
  color: #05032A;
  border: none;

  box-shadow: 0 0 1.125rem rgba(73,198,229,.5);
  margin-left: 10rem;
}

.btn-primary:hover {
  transform: translateY(-0.25rem);
  background: #61d3ef;
}

.btn-secondary {
  background: transparent;
  color: white;
  border: 0.125rem solid white;
}

.btn-secondary:hover {
  background: rgba(255,255,255,.08);
  transform: translateY(-0.25rem);
}


.prototipoOfc {
  display: flex;
  justify-content: flex-start; /* Alinha à esquerda */
  align-items: center;
}

.prototipoOfc img {
  width: 300px; /* ajuste conforme necessário */
  height: auto;
}